@import           url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);

/*--------------------------------
  Typography
--------------------------------*/

body              { font:20px/1.5em 'Source Sans Pro', sans-serif; margin: 0; }
a                 { text-decoration: none; color: #222; border-bottom: 1px solid #ddd; transition: 0.15s ease-in-out; }
a:hover           { border-bottom: 1px solid #aaa; }
em                { font-style: italic; }
strong            { font-weight: bold; }
h1                { font-size: 2em; line-height: 1.33em;}
h2                { font-size: 1.55em; line-height: 1.25em; }
h3                { font-size: 1.15em; }
h4                { font-size: 1em; }
h5                { font-size: 0.78em; text-transform: uppercase; letter-spacing: 0.15em; }
h6                { font-size: 0.67em; text-transform: uppercase; letter-spacing: 0.15em; }
h1, h2, h3,
h4, h5, h6        { margin-bottom: 1em; color: #222; font-weight: bold; }
p, ul, pre, 
table, dl         { color: #777; margin-top: 0; margin-bottom: 1em; }
code, pre         { font-size: 16px; color: #444;}
blockquote        { border-left: 1px solid #eeeeee; padding: 0 1.5em; margin: 0;}
blockquote,
blockquote > *    { color: #222; }
table             { width: 100%; }
th, td            { padding: 1em; text-align: center;}
th                { border-bottom: 1px solid #ddd;
                    text-transform: uppercase;
                    letter-spacing: 0.2em;
                    font-size:0.67em;
                    text-align: center;
                    color: #222;
                    }
td                { color: #888; }
hr                { border: 0;
                    height: 1px; 
                    display: block;
                    margin: 4em auto;
                    width: 80px;
                    background: #888;
                    }

a.btn {
	background: #b0aab3;
	border: 0;
	color: #fff;
	padding: 10px 18px 8px;
	line-height: 1;
	border-radius: 3px;
	font-size: 0.78em;
	text-transform: uppercase;font-weight: bold;
	letter-spacing: 0.15em;
  transition: 0.15s ease-in-out;
	opacity:1;
}
a.btn:hover,
a.btn:focus,
a.btn:active {
	opacity: .9;
}

.cf{zoom:1}
.cf:before,.cf:after {content:"";display:table}
.cf:after{clear:both}

/*--------------------------------
  Layout
--------------------------------*/

#wrapper { 
  width: 100%;
  margin: 0 auto;
}

header { 
  /* Background pattern from Lea Verou (modified): http://lea.verou.me/css3patterns/) */
background-color:#a3bcc6;
background-image: linear-gradient(white 1px, transparent 1px),
linear-gradient(90deg, white 1px, transparent 1px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
  background-size: 100px 50px;
  margin: 0 auto;
  text-align: center;
  padding: 4.5em 0;
  width: 100%;
  top: 0;
  transition: 0.15s ease-in-out;
}

header hgroup { 
  background: #fff;
  color: #222;
  padding:4px;
  border: 2px solid #aaa;
  max-width: 700px;
  display: block;
  line-height: 1.35em;
  margin: 0 auto;
}

header div { 
  border: 2px solid #ccc;
  padding: 2em 3em; 
}

header h1 { 
  font-size: 2.5em;
  line-height: 1.15em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

header h2 {
  margin-top: 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 0;
  color: #888;
  margin-bottom: 1.75em;
  line-height: 1.33em;
}

header hr { 
  border: 0;
  height: 1px; 
  display: block;
  margin: 0 auto;
  width: 80px;
  background: #999;
}

.downloads ul, .content, footer {
  max-width: 700px;
  padding: 0 60px;
  margin: 0 auto;
}

.downloads {
  width: 100%; 
  background: #f5f4f1;
  padding: 1.5em 0; 
}

.downloads ul li { 
  display: inline-block;
  width: 29.5%;
  margin-right: 5%;
  text-align: center;
}

.downloads ul li:last-child { 
  margin-right: 0; 
}

.downloads a {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #222;
  font-size: 0.67em;
  text-align: center;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.content h1:first-child { 
  margin-top: 0;
}

.content {
  padding-top: 4.5em;
}

h3,
.img {
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 2em;
	margin-bottom: 2em;
}
.det h4 {
	margin-bottom: 30px;
}
.det p {
	margin-right: 55%;
}
.det p strong {
	font-size: 0.78em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	color: #222;
}
.det ul {
	float: right;
	width: 40%;
	list-style: none;
}
.good:before,
.derp:before {
	display: block;
	float: left;
	margin: 0 0 0 -25px;
}
.good:before {
	content: "✔";
}
.derp:before {
	content: "✘";
}
.det .title {
	font-size: 0.78em;
	margin-top: .325em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.15em;
	color: #444;
	display: block;
}
.cta {
	text-align: center;
	padding-top: 60px;
}

footer {
  margin-bottom: 4em;
  font-size: 0.78em;
  text-align: center;
}

@media screen and (max-width: 880px) {
  header { padding: 2em 0; }
  .downloads { padding: 1em 0; }
}

@media screen and (max-width: 770px) {
  body { font-size: 18px; border-top: 2px solid #eeeeee; }
  hr { margin: 4em auto; }
  .img img {
  	width: 100%;
  }
  header hgroup { margin: 0 4em; }
  header h1 { font-size: 1.75em; }
  header h2 { font-size: 1.5em; }
  #content, footer { padding: 0 3em; }
  #content { padding-top: 4em; }
  .downloads ul { padding: 0 1em; }
}

@media screen and (max-width: 600px) {
  .downloads { padding: 0; }
  .downloads ul { padding: 0; }
  .downloads ul li { margin: 0 auto; width: 100%; padding: 0; }
  .downloads ul li a { padding-top: 1em; display: block; width: 100%; }
  .downloads ul li a:hover { background: #eee; border-bottom: 1px solid #ddd; }
}

@media screen and (max-width: 480px) {
  header { padding: 1em 0; }
  header hgroup { margin: 0 1em; }
  header div { padding: 1.5em 2em; }
  header h2 { font-size: 1.25em; }
  hr { margin: 3em auto; }
  #content, footer { padding: 0 1.5em;}
  #content { padding-top: 2em; }
  .det p,
  .det ul {
  	padding: 15px 0;
  	float: none;
  	width: 100%;
  }
}


